
section.main-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.elementsRow{
    margin-top: 5%;
    flex-direction:row;
    margin-right: 10px;
}

input{
    width: 30%;
    margin-right: 5%;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.fit{
 margin-left: -230px;
 margin-bottom: 1%;
}

.inputText{
    font-size: 19px;
    width: 40%;
    padding: 7px 5px;
    height: 40px;

}
.btn{
    align-items: center;
    font-size: 23px;
    color: white;
    border-radius:5px;
    background-color:#03a9f4;
    border: 1px solid #03a9f4;
    padding: 15px 32px;
}

.btn:active{
    background-color: #048ece;
}

.hide{
    visibility: hidden;
}

@media screen and (max-width: 767px){

    .elementsRow{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }
    .btn{
        padding: 10px 25px;
        font-size: 20px;
        width: 60%;
    }
}

@media screen and (max-width: 500px){

    .elementsRow{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
    }
    .btn{
        padding: 10px 10px;
        font-size: 15px;
        width: 60%;
    }
}

